.card {
    max-width: 100%;
    border: none; /* Suppression de la bordure pour un look plus moderne */
    box-shadow: 0 2px 5px rgb(252, 252, 252); /* Ombre plus prononcée pour un effet moderne */
    border-radius: 15px;
    background-color: #343a40; /* Couleur de fond sombre */
    overflow: hidden; /* Assure que le contenu reste dans les limites arrondies */
}

.card .card-body {
    padding: 4rem;
}

.profile-picture {
    padding: 1rem;
    border-right: 1px solid rgba(255, 255, 255, 0.1); /* Légère séparation entre image et contenu */
}

#profile-picture {
    width: 150px;
    height: 150px;
    border-radius: 50%; /* Forme circulaire pour l'image de profil */
    background-color: #6c757d; /* Couleur de fond de l'image de profil */
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile-info {
    margin-bottom: 10px;
}

.profile-info strong {
    color: #007bff;
}

#profile-username,
#profile-email {
    font-size: 1.2em;
    color: #fff;
}

h5.card-title {
    color: #007bff;
    margin-bottom: 0.5rem; /* Ajoute un espace en bas du titre */
}

.card-text {
    color: #fff;
    font-size: 0.9em;
    line-height: 1.4;
}

@media (max-width: 768px) {
    .card {
        max-width: 100%;
    }
}
